@use './variables' as *

@mixin flex-center
  display: flex
  align-items: center
  justify-content: center

@mixin flex-between
  display: flex
  align-items: center
  justify-content: space-between

@mixin text-truncate
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap

@mixin transition($props...)
  transition-property: $props
  transition-duration: 200ms
  transition-timing-function: ease-in-out

// Responsive Mixins
@mixin mobile
  @media (max-width: #{$bp-md - 1px})
    @content

@mixin tablet
  @media (min-width: #{$bp-md}) and (max-width: #{$bp-lg - 1px})
    @content

@mixin desktop
  @media (min-width: #{$bp-lg})
    @content

@mixin respond-to($breakpoint)
  @media (max-width: #{$breakpoint})
    @content
